image: gcc:latest

stages:
   - prebuild
   - build
   - test

.install-dependencies:
   before_script:
      - apt-get update
      - apt-get install -y cmake make gcovr

prepare:
   stage: prebuild
   extends: .install-dependencies
   script: "cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug"
   artifacts:
      untracked: true
      paths:
         - build/

compile:
   stage: build
   extends: .install-dependencies
   dependencies:
      - prepare
   before_script:
      - cd build
   script: make
   artifacts:
      untracked: true
      paths:
         - build/

test-chess_logic:
   stage: test
   dependencies:
      - compile
   script: "./build/lib/chess_logic/tests --reporter junit -o test-results.xml"
   artifacts:
      reports:
         junit: test-results.xml

coverage-chess_logic:
   stage: test
   extends: .install-dependencies
   dependencies:
      - compile
   before_script:
      - cd build
   script: "make coverage"
   artifacts:
      reports:
         coverage_report:
            coverage_format: cobertura
            path: build/lib/chess_logic/coverage.xml
