image: gcc:latest

stages:
   - build
   - test

.install-dependencies:
   before_script:
      - apt-get update
      - apt-get install -y cmake make gcovr

compile:
   stage: build
   extends: .install-dependencies
   cache:
      key: "$CI_COMMIT_REF_SLUG"
      untracked: true
      paths:
         - build/
   script:
      - rm -rf build
      - mkdir build
      - cd build
      - cmake .. -DCMAKE_BUILD_TYPE=Debug
      - make -j 8
   artifacts:
      untracked: true
      paths:
         - build/
         - build/lib/
         - build/lib/chess_logic/
         - build/lib/chess_logic/tests

test-chess_logic:
   stage: test
   script: "./build/lib/chess_logic/tests --reporter junit -o test-results.xml"
   artifacts:
      reports:
         junit: test-results.xml

coverage-chess_logic:
   stage: test
   extends: .install-dependencies
   script: "cd build && make coverage"
   artifacts:
      reports:
         coverage_report:
            coverage_format: cobertura
            path: build/lib/chess_logic/coverage.xml

quality-chess_logic:
   stage: test
   image: docker:stable
   allow_failure: true
   services:
    - docker:stable-dind
   script:
    - docker run
        --env SOURCE_CODE="$PWD"
        --volume "$PWD":/code
        --volume /var/run/docker.sock:/var/run/docker.sock
        "registry.gitlab.com/gitlab-org/security-products/codequality:11-8-stable" /code/lib/chess_logic
   artifacts:
      paths: [gl-code-quality-report.json]
      expire_in: 1 month
   only:
    - develop
    - master

quality-app:
   stage: test
   image: docker:stable
   allow_failure: true
   services:
    - docker:stable-dind
   script:
    - docker run
        --env SOURCE_CODE="$PWD"
        --volume "$PWD":/code
        --volume /var/run/docker.sock:/var/run/docker.sock
        "registry.gitlab.com/gitlab-org/security-products/codequality:11-8-stable" /code/app
   artifacts:
      paths: [gl-code-quality-report.json]
      expire_in: 1 month
   only:
    - develop
    - master

